function Main.main 2
call World.new 0
pop local 0
push local 0
call Editor.new 1
pop local 1
call Game.displayWelcomeScreen 0
pop temp 0
push local 0
call Game.createLife 1
pop temp 0
call Game.displayInstructions 0
pop temp 0
push local 1
call Editor.start 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 0
call World.transformToNextGeneration 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push local 0
call World.dispose 1
pop temp 0
push constant 0
return
