function World.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 64
call Array.new 1
pop this 0
push pointer 0
call World.clear 1
pop temp 0
push pointer 0
return
function World.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 64
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Array.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function World.clear 3
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 64
lt
not
if-goto WHILE_END0
push constant 128
call Array.new 1
pop local 2
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push constant 128
lt
not
if-goto WHILE_END1
push local 1
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push this 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function World.transformToNextGeneration 7
push argument 0
pop pointer 0
push constant 0
pop local 2
push constant 1
neg
push constant 0
call List.new 2
pop local 0
push constant 1
neg
push constant 0
call List.new 2
pop local 1
label WHILE_EXP0
push local 2
push constant 64
lt
not
if-goto WHILE_END0
push pointer 0
push local 1
call World.areChangesPending 2
pop local 5
push local 5
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push local 2
push constant 2
sub
push local 1
call World.applyChanges 3
pop temp 0
label IF_FALSE0
push local 1
call List.dispose 1
pop temp 0
push local 0
pop local 1
push constant 1
neg
push constant 0
call List.new 2
pop local 0
push local 2
push this 0
add
pop pointer 1
push that 0
pop local 4
push constant 0
pop local 3
label WHILE_EXP1
push local 3
push constant 128
lt
not
if-goto WHILE_END1
push pointer 0
push local 2
push local 3
call World.shouldCellToggle 3
pop local 6
push local 6
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
push local 0
call List.new 2
pop local 0
label IF_FALSE1
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP1
label WHILE_END1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push pointer 0
push local 2
push constant 1
sub
push local 0
call World.applyChanges 3
pop temp 0
push pointer 0
push local 2
push constant 2
sub
push local 1
call World.applyChanges 3
pop temp 0
push local 0
call List.dispose 1
pop temp 0
push local 1
call List.dispose 1
pop temp 0
push constant 0
return
function World.areChangesPending 1
push argument 0
pop pointer 0
push argument 1
call List.isEmpty 1
pop local 0
push local 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
goto IF_END0
label IF_FALSE0
push constant 0
not
return
label IF_END0
function World.applyChanges 2
push argument 0
pop pointer 0
push argument 2
pop local 0
push local 0
call List.getData 1
pop local 1
label WHILE_EXP0
push local 1
push constant 1
neg
eq
not
not
if-goto WHILE_END0
push pointer 0
push argument 1
push local 1
call World.toggleCell 3
pop temp 0
push local 0
call List.getNext 1
pop local 0
push local 0
call List.getData 1
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function World.shouldCellToggle 0
push argument 0
pop pointer 0
push constant 0
not
return
function World.getCell 2
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
pop argument 1
push argument 2
push argument 1
add
pop pointer 1
push that 0
pop local 1
push local 1
return
function World.toggleCell 2
push argument 0
pop pointer 0
push argument 1
push this 0
add
pop pointer 1
push that 0
pop local 1
push argument 2
push local 1
add
pop pointer 1
push that 0
pop local 0
push local 0
not
pop local 0
push argument 2
push local 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
